<div class="modal500" id="passwordModal">
  <div class="modal-top">
    <div class="modal-top-cnt">
      <h3 class="title-l">비밀번호 입력</h3>

      <div class="inp-box">
        <div class="inp-box-pw">
          <input class="inp" id="modalPwd" name="modalPwd" placeholder="현재 비밀번호를 입력해주세요."
                 type="password">
          <button class="icon-on-off" name="toggleBtn">
            <p class="icon-pw-off"></p>
          </button>
          <span class="dn" id="passwordModalErrorSpan">비밀번호가 맞지 않습니다.</span>
        </div>
      </div>

    </div>
  </div>
  <div class="modal-bottom">
    <div class="space-x-2">
      <button class="btn-g modal-close" id="hideModal"
              onclick="ui_common.fn_hideModal('passwordModal')">취소
      </button>
      <button class="btn-orange" id="passwordConfirm">확인</button>
    </div>
  </div>
</div>
<script th:inline="javascript" type="text/javascript">
  let passwordModal = {
    fn_init: function () {

    },
    fn_event: function () {
      // 토글 버튼 클릭 시
      $('button[name=toggleBtn]').on('click', function () {
        let $input = $(this).prev();
        let $p = $(this).find('p');
        common.fn_pwdToggleEvnet($input, $p);
      });
      // 비밀번호 체크 확인 시
      $('#passwordConfirm').on('click', function () {
        const password = $('#modalPwd').val();
        const id = $('#userId').val();
        const command = $(this).attr('data-command');
        // 비밀번호 변경
        if (command === 'changePassword') {
          $.ajax({
            url: `/api/v1/user/check-password?password=${password}`,
            type: 'GET',
            beforeSend: function (xhr) {
              common.getHeaderToken(xhr);
            },
            success: function (data, status, res) {
              common.saveAuthTokenToLoacalStorage(res);
              if (data) {
                $('#passwordModalErrorSpan').addClass('dn');
                $('#changePassword').removeClass('dn');
                $('#checkPassword').removeClass('dn');
                $('#modalPwd').val('');
                ui_common.fn_hideModal('passwordModal');
              } else {
                $('#passwordModalErrorSpan').removeClass('dn');
              }
            },
            error: function (error) {
              reject(error);
            }
          });
          // 회원 탈퇴 버튼 일때
        } else {
          // 비밀 번호 체크
          $.ajax({
            url: `/api/v1/user/check-password?password=${password}`,
            type: 'GET',
            beforeSend: function (xhr) {
              common.getHeaderToken(xhr);
            },
            success: function (data, status, res) {
              common.saveAuthTokenToLoacalStorage(res);
              if (data) {
                $('#passwordModalErrorSpan').addClass('dn');
                $('#modalPwd').val('');
                ui_common.fn_hideModal('passwordModal');
                ui_common.fn_showConfirmModal('회원 탈퇴하시겠습니까?', '탈퇴한 계정은 복구가 불가능 합니다.',
                    'deleteModal');
                ui_common.fn_setNewEvent('btnDelete', function () {
                  const currentURL = window.location.toString();
                  const splitURL = currentURL.split("/");
                  const usiNum = splitURL[splitURL.length - 1];

                  //회원 탈퇴 기능
                  $.ajax({
                    url: `/api/v3/admin/delete?usiNum=${usiNum}`,
                    type: 'DELETE',
                    beforeSend: function (xhr) {
                      common.getHeaderToken(xhr);
                      ui_common.fn_showLoading();
                    },
                    success: function (data, status, res) {
                      common.saveAuthTokenToLoacalStorage(res);
                      console.log(data);
                      if (data) {
                        console.log('회원 탈퇴 햇지롱~');
                        ui_common.fn_hideModal('deleteModal');
                        ui_common.fn_showAlertModal('회원 탈퇴 완료', '회원 탈퇴가 완료되었습니다');
                        ui_common.fn_setNewEvent('alertModal', function () {
                          common.fn_movePage('/management');
                        });
                      }
                    },
                    error: function (error) {
                      ajaxError(error);
                    },
                    complete: function () {
                      ui_common.fn_hideLoading();
                    }
                  });
                });
              } else {
                $('#passwordModalErrorSpan').removeClass('dn');
              }
            },
            error: function (error) {
              reject(error);
            }
          });
        }
      });
      // 취소 버튼 클릭 시
      $('#hideModal').on('click', function () {
        $('#passwordErrorSpan').addClass('dn');
        $('#modalPwd').val('');
      });
      // 패스워드 입력 모달 입력 시
      $('#modalPwd').on('keyup', function (e) {
        // 비밀번호 엔터 키 입력 시
        if (e.key === 'Enter' || e.keyCode === 13) {
          $("#passwordConfirm").trigger('click');
        }
      });
    }
  }

  $(function () {
    passwordModal.fn_init();
    passwordModal.fn_event();
  })
</script>